$success: #67C23A;
$error:#c9573b;
$warning: #E6A23C;
$info: #497e9c;

$line_color: rgb(190, 241, 140);

$sideWidth: 240px;
$topHeight: 60px;

$sideZindex: 1999;
$topZindex: 1998;
$loadingZindex: 1997;

