$success: #67C23A;
// $error:#F56C6C;
$error:#c9573b;
$warning: #E6A23C;
$info: #497e9c;

$re: #cc2f2d;
$line_color: rgb(190, 241, 140);
$re_yellow: rgb(246, 166, 35);
$re_boss: #2a2a2a;


$sideWidth: 240px;
$topHeight: 60px;

$sideZindex: 1999;
$topZindex: 1998;
$loadingZindex: 1997;

